<%- include("./partials/header"); -%>
  <div id="posts">
    <div class="blog-pic-div">
      <img class="blog-img" src=" ../images/blogImage.jpg" alt="blog-img" />
      <div class="middle">
        <div class="text"><a class="pic-link" href="#">Michael Inziani</a></div>
      </div>
    </div>

    <div class="row">
      <% posts.forEach(function(post){ %>

        <div class="col-lg-6" id="posts-container">

          <h1 class="posts-h1 fw-normal">
            <%=post.title%>
          </h1>

          <small class="posts-author">by: <%=post.author%> </small>

          <p class="posts-content">
            <%= (post.content)? (post.content).substring(0, 200) : "No content available" %>
          </p></br>
          <a class="readMore" href="/posts/<%=post.id%>">Read more>> </a></br>
          <hr>

          </p>

          <small class="posts-date">Posted <%=post.date %> </small>
        </div>
        <% }); %>
    </div>
  </div>
  <%- include("./partials/footer"); -%>
