<%- include("./partials/header"); -%>

    <h1>
        <%= title %>
    </h1>
    <small>Posted on: <%= date %> </small>
    <p>
        <%= content %>
    </p>
    <small>By: <%= author %> </small>
    <!-- <%- include("./partials/footer"); -%> -->